
img {
	padding-left: 0px;
	margin-left: -15px;
	width: 100% ;
	height: 25%;
}

#section101{
	background: #B79F82;
}
#section102{
	background: #333333;
}
#section103{
	background: #139C45;
}
#section104{
	background:#FA9C15;
}

.container{

  background: red;
}

p{
	padding: 40px;
	color: #fff;
}